@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 32px;
    font-family: 'Inter', sans-serif;
    background: url(./images/pattern-curve.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
}
main{
    max-width:90%;
    position: relative;
    padding: 50px;
    background: url(./images/pattern-quotes.svg), url(./images/pattern-bg.svg);
    background-repeat: no-repeat, no-repeat ;
    background-position:top left, right;
    background-size:100px, contain;
}
.mySlides{
    display:none;
}
.testimonial{
    align-self: center;
}
p{
    color:  hsl(240, 38%, 20%);
    font-weight: 300;
    font-family: inherit;
    margin-bottom: 20px;
    /* margin-right: -50px; */
    font-size: 0.9em;
    word-spacing:3px;
    line-height: 40px;
}
small{
    font-size: 0.5em;
    color:  hsl(240, 38%, 20%);
}
.mySlides img{
    width:45%;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}
.prev, .next {
    cursor: pointer;
    font-weight: bold;
    font-size:32px;
    transition: 0.6s ease;
    user-select: none;
    padding:5px;
    align-self: center;
  }
  .prev:hover, .next:hover {
    color:  hsl(240, 38%, 20%);
  }
  .icons{
    display: flex;
    position: absolute;
    bottom:4%;
    right:30%;
    background-color: hsl(0, 0%, 100%);
    color: hsl(240, 18%, 77%);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    width: auto;
    border-radius:80px;
    padding: 5px 10px;
  }
  /* fading animations */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  @media (max-width:800px){
      main{
        margin: 20px 0;
        padding: 0;
        background-position: center, top center;
        background-size: 100px, 100%;
      }
      .mySlides{
          display: flex;
          flex-direction: column-reverse;
          text-align: center;
      }
      .mySlides img{
        width:100%;
        margin-bottom:100px;
    }
    .icons{
        position: absolute;
        bottom:58%;
        right:35%;
    }
    small{
        font-size: 0.7em;
    }
    small strong{
        display: block;
        margin-bottom:0;
    }
  }