@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(./images/bg-desktop.png) hsl(229, 57%, 11%) no-repeat bottom;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}
main{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.left-side{
    background-color: hsl(228, 56%, 26%);
    width: 350px;
    height: 200px;
    padding-left: 30px;
    border-radius: 10px;
    border-top-right-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logo{
    margin-bottom: 30px;
}
.icons-body{
    display: flex;
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    background-color: hsl(229, 57%, 11%);
    margin-right: 25px;
}
.right-side{
    position: relative;
    background-color: hsl(228, 56%, 26%);
    width: 450px;
    height: 150px;
    border-radius: 10px;
    position: relative;
    align-self: flex-end;
    padding:30px;
}
.right-side p{
    color: hsl(243, 100%, 93%);
    margin: 15px 0;
}
.anchor{
    position: absolute;
    top: -35px;
    right: 30px;
    background-color: hsl(0, 0%, 100%);
    padding: 10px;
    font-size: 3em;
    font-weight: 700;
    border-radius: 10px;
}
.anchor small{
    color: hsl(229, 7%, 55%);
    font-size: 14px;
    text-align: center;
}
.anchor::before
{
    content: '';
    position: absolute;
    bottom: -20px;
    right: 0px;
    width: 30px;
    height: 30px;
    background: linear-gradient(225deg, #fff 0%,#fff 50%, transparent 50%,transparent);
}
.progress{
    padding: 5px;
    position: relative;
    width: 100%;
    height: 12px;
    background-color: hsl(229, 57%, 11%);
    border-radius: 50px;
}
.progress-bar{
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
    height: 100%;
    background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    border-radius: 50px;
}
.dot{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border-radius: 50px;
    width: 12px;
    background-color: #fff;
}
.progress-details{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}
@media (max-width:600px){
    body{
        background: url(./images/bg-mobile.png);
    }
    main{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 20px;
        padding: 0;
    }
    .left-side{
        width: 100%;
        margin-bottom: 20px;
    }
    .right-side{
        position: relative;
        width: 100%;
    }
    .anchor{
        position: absolute;
        top: 120px;
        right:30%;
    }
    .anchor::before
    {
        content: '';
        width: 0px;
        height: 0px;
    }
}
