@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background: linear-gradient(to bottom,hsl(232, 19%, 15%),hsl(230, 17%, 14%));
    color:hsl(0, 0%, 100%);
    font-family: 'Inter', sans-serif;
}
header{
    max-width: 1400px;
    width: 100%;
    padding: 50px;
}
small{
    color: hsl(228, 12%, 44%);
    font-weight: 700;
    font-size: 14px;
}
.form-control{
    float: right;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width:1400px;
}
.nathan{ 
    margin: 10px;
    max-width: 100%;
    width:300px;
    background-color:hsl(228, 28%, 20%);
    text-align: center;
    padding: 30px;
    border-radius: 5px;
}
.facebook{
    border-top: 5px solid hsl(208, 92%, 53%);
}
.twitter{
    border-top: 5px solid hsl(203, 89%, 53%);
}
.instagram{
    position:relative;
}
.instagram:before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 5px;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-image:linear-gradient(to right,hsl(37, 97%, 70%),hsl(329, 70%, 58%));
}
.youtube{
    border-top: 5px solid  hsl(348, 97%, 39%);
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo ion-icon{
    font-size: 18px;
}
.logo small{
    align-self: center;
    margin-left: 10px;
    letter-spacing: 1px;
}
.fb{
    color:hsl(208, 92%, 53%);
    font-size: 18px;
}
.tw{
    color:hsl(203, 89%, 53%);
    font-size: 18px;
}
.insta{
    background-image:linear-gradient(to top,hsl(37, 97%, 70%),hsl(329, 70%, 58%));
    font-size: 18px;
}
.yt{
    color:hsl(348, 97%, 39%);
    font-size: 18px;
}
.total-followers{
    margin: 25px;
}
.total-followers h2{
    font-size: 3em;
}
.total-followers small{
    text-transform: uppercase;
    letter-spacing: 5px;
}
.follower-count{
    color:hsl(163, 72%, 41%);
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}
.youtube .follower-count{
    color:hsl(356, 69%, 56%);
}
.up{
    color:hsl(163, 72%, 41%);
    margin-right: 5px;
}
.down{
    color:hsl(356, 69%, 56%);
    margin-right: 5px;
}
section{
    display: flex;
    flex-direction: column;
    max-width:1400px;
    padding: 50px 0;
}
section h3{
    padding:30px 50px;
}
.overview-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width:1400px;
}
.overview{ 
    margin: 10px;
    max-width: 100%;
    width:300px;
    background-color:hsl(228, 28%, 20%);
    text-align: center;
    padding: 30px;
    border-radius: 5px;
}
.data{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.numbers{
    display: flex;
    justify-content: space-between;
}
.numbers h4{
    font-size: 1.7em;
}
.numbers span{
    color:hsl(163, 72%, 41%);
}
.numbers .red{
    color:hsl(356, 69%, 56%);
}
span{
    font-size: 14px;
    align-self: center;
}