@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    font-size: 20px;
    font-family: 'Libre Franklin', sans-serif;
    text-align: center;
}

#logo{
    margin-top:10px;
}

.section-1{
    margin-top: 20px;
}

h1{
    color:hsl(0, 0%, 59%);
    font-weight: 300;
}

strong{
    color: black;
    font-weight: 700;
}

p{
    margin-top:5px;
    font-size: 15px;
    font-weight: 500;
}

form{
    margin:10px 0 20px 0;    
}

#email{
    background-color: transparent;
    border: 1px solid hsl(0, 0%, 59%);
    border-radius: 20px;
    padding: 10px 30px 10px 15px;
    width: 300px;
}

#email:focus{
    outline:none;
}

.btn{
    background-color: hsl(223, 87%, 63%);
    border-radius: 20px;
    padding: 10px 30px;
    color: #fff;
    font-weight: 600;
    border: none;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
    cursor: pointer;
}

.btn:focus{
    outline: none;
}

.btn:hover{
    transform: scale(0.98);
}

#illustration-dashboard{
    width:450px;
    margin-bottom:30px;
}

.copyright{
    font-size: 10px;
    margin-bottom:10px;
}

.social-container{
    margin: 10px 0;
}

.social-container a {
    border: 1px solid hsl(0, 0%, 59%);
    border-radius: 50%;
    margin: 0 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    color: hsl(223, 87%, 63%);
    text-decoration: none;
}
