body{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    background-color:  hsl(0, 0%, 98%);
}

.wrapper{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.container{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

@media screen and (min-width:760px){
    .container2{
        display: flex;
        flex-direction:row;
        justify-content:center;
        align-items: center;
        margin-top: 30px;
    }

    .supervisor{
        margin-right: 15px;
    }

    .calculator{
        margin-left: 15px;
    }
}



.box{
    width:250px;
    height: 150px;
    border-top: 5px solid;
    padding: 10px;
    margin-bottom: 15px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
}


.supervisor{
    border-top-color:hsl(180, 62%, 55%);
}

.teamBuilder{
    border-top-color:hsl(0, 78%, 62%);
}

.karma{
    border-top-color: hsl(34, 97%, 64%);
}

.calculator{
    border-top-color:hsl(212, 86%, 64%);
}

.header{
    text-align: center;
}

b{
    word-spacing: 5px;
    letter-spacing: 1px;
}

p{
    font-size: 10px;
    color: hsl(212, 86%, 64%);
}

img{
    padding-top: 40px;
    padding-left: 200px;
}