@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(./components/images/bg-desktop-dark.jpg) hsl(235, 21%, 11%) no-repeat top;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
}
.container{
  width: 600px;
}
header{
  color:hsl(0, 0%, 100%);
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  width: 100%;
}
.details{
  margin-bottom:30px ;
}
.details #input-box{
  display: block;
  border: none;
  outline: none;
  width: 100%;
  height:50px;
  background-color: hsl(235, 24%, 19%);
  padding: 10px;
  padding-left: 60px;
  font-size: 18px;
  border-radius: 5px;
  color: hsl(234, 39%, 85%);
}
.details .checkmark {
  cursor: pointer;
  position: absolute;
  top: 15px;
  left: 20px;
}
.tasks{
  font-size: 18px;
  background-color: hsl(235, 24%, 19%);
  border-radius: 5px;
  color: hsl(234, 39%, 85%);
  min-height: 0;
}
.task{
  width: 100%;
  padding:20px;
  border-bottom: 1px solid hsl(234, 39%, 85%);
}
.task p{
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
}
.task p img{
  cursor: pointer;
}
.bottom{
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
/* creating the custom checkbox */
.container {
  display: block;
  position: relative;
}
/* Hide the browser's default radio button */
.container .checkbox {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}
/* Create a custom radio button */
.checkmark {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid hsl(234, 39%, 85%);
  border-radius: 50%;
}
/* When the radio button is checked, add background color */
.container input:checked ~ .checkmark {
  background:linear-gradient(to right, hsl(192, 100%, 67%),hsl(280, 87%, 65%));
}
/* Create the indicator - hidden when not checked */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  top: 2.5px;
  left: 2.5px;
  width: 13px;
  height: 13px;
  background: url(./components/images/icon-check.svg) no-repeat center;
}
/* Show the indicator when checked */
.container .checkbox:checked ~ .checkmark:after {
  display: block;
}