@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(images/bg-desktop-dark.jpg) hsl(235, 21%, 11%) no-repeat top;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
}
.container{
  width: 500px;
  /* border: 2px solid red; */
}
header{
  color:hsl(0, 0%, 100%);
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
}
.circle{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
}
input{
  border: none;
  outline: none;
  width: 100%;
  background-color: hsl(235, 24%, 19%);
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
}