@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    font-size: 16px;
    font-family: 'Karla', sans-serif;
}
/* HEADER */
header{
    position:absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    background-color: hsl(0, 0%, 100%);
    padding: 30px 100px;
    width: 100%;
}
nav a{
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 25px;
    color: hsl(273, 4%, 51%);
    font-weight: 700;
    font-family: inherit;
}
nav a:hover{
    color: hsl(270, 9%, 17%);
}
button{
    margin-left: 25px;
    border: 2px solid hsl(270, 9%, 17%);
    padding: 10px 30px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: inherit;
    cursor: pointer;
    background-color: transparent;
}
button:hover{
    background-color: hsl(270, 9%, 17%);
    color: hsl(0, 0%, 98%);
}
.btn:hover{
    background-color: hsl(0, 0%, 98%);
    color:hsl(270, 9%, 17%);
}
/* MAIN */
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image:url(./images/bg-pattern-intro-left-desktop.svg);
    background-position: left;
    background-repeat:no-repeat;
}
/* SECTION */
section{
    display: flex;
    color: hsl(0, 0%, 100%);
    background-color:hsl(270, 9%, 17%);
    justify-content: space-between;
    padding: 50px 100px;
    align-items: center;
    background-image:url(./images/bg-pattern-intro-right-desktop.svg) ;
    background-repeat: no-repeat;
    background-position: top right;
}
.left-side{
    margin-right: 50px;
    transform: translateX(-50%);
    transition: transform 500ms ease-in;
}
.line{
    border: 1px solid #fff;
    width: 200px;
    margin-bottom: 40px;
}
section h1{
    font-size: 3em;
    font-family: 'DM Serif Display', serif;
    margin-bottom: 15px;
    letter-spacing: 5px;
}
section p{
    margin-bottom:30px;
    color:hsl(0, 0%, 98%);
    font-family: inherit;
    line-height: 25px;
    font-weight: 400;
}
.btn{
    color: hsl(0, 0%, 98%);
    border: 2px solid hsl(0, 0%, 98%);
    margin-left: 0;
}
.right-side .image-desktop{
    margin-top: 100px;
    margin-bottom: -150px;
    transform: translateX(50%);
    transition: transform 500ms ease-in;
}
.right-side .image-mobile{
   display: none;
}
.left-side.appear,
.right-side .image-desktop.appear{
    transform: translateX(0);
}
/* ARTICLE */
article{
    padding:250px 100px 150px 100px;
}
.line2{
    border: 1px solid hsl(216, 30%, 68%);
    width: 100px;
    margin-bottom: 40px;
}
h2{
    font-size: 2.5em;
    font-family: 'DM Serif Display', serif;
    margin-bottom: 50px;
    letter-spacing: 5px;
}
.details{
    display: flex;
    justify-content: space-between;
}
.avatar{
    max-width: 300px;
    margin-bottom: 100px;
}
.avatar img{
    margin-bottom: 20px;
}
.avatar h3{
    margin-bottom: 15px;
    font-size: 1.5;
    font-family: 'DM Serif Display', serif;
    letter-spacing: 2px;
}
.avatar p{
    color:hsl(216, 30%, 68%);
    line-height: 25px;
}
.fade-in{
    opacity: 0;
    transition: opacity 450ms ease-in;
}
.fade-in.appear{
    opacity: 1;
}
.findout{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color:hsl(270, 9%, 17%);
    color: hsl(0, 0%, 100%);
    padding: 50px;
    background-image: url(./images/bg-pattern-how-we-work-desktop.svg);
    background-position: right;
    background-repeat: no-repeat;
}
.findout h3{
    font-size: 2em;
    font-family: 'DM Serif Display', serif;
    max-width: 400px;
    letter-spacing: 2px;
}
.btn-2{
    align-self: center;
}
footer{
    background-color: hsl(0, 0%, 98%);
    width: 100%;
    padding:50px 100px;
    background-image: url(./images/bg-pattern-footer-desktop.svg);
    background-position: top left;
    background-repeat: no-repeat;
}
.top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.icons ion-icon{
    margin-left: 20px;
    cursor: pointer;
    font-size: 25px;
    color: hsl(273, 4%, 51%);
}
.icons ion-icon:hover{
    color:hsl(270, 9%, 17%);
}
.line3{
    border: 0.5px solid hsl(273, 4%, 51%);
    width: 100%;
}
.bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.bottom h4{
    font-family: 'DM Serif Display', serif;
    color: hsl(273, 4%, 51%);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 15px;
}
.links{
    display: flex;
    flex-direction: column;
}
.links a{
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 7px;
    color:hsl(270, 9%, 17%);
    font-weight: 700;
    font-family: inherit;
}
.mobile-nav{
    display:none;
}
@media (max-width:700px){
    header{
        padding:20px;
        width: 100%;
    }
    .logo{
        align-self: center;
    }
    nav{
        display: none;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        height: 100vh;
        padding: 50px 20px;
        background-color:hsl(270, 9%, 17%);
        background-image: url(./images/bg-pattern-mobile-nav.svg);
        background-repeat: no-repeat;
        background-position:bottom;
    }
    nav a{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #fff;
        margin-top: 30px;
        font-size: 1.5em;
    }
    nav a:hover{
        color: hsl(0, 0%, 100%);
        opacity: 0.5;
    }
    button{
        margin:30px 0 0 0;
        border: 2px solid hsl(0, 0%, 100%);
        background-color: transparent;
        color: hsl(0, 0%, 98%);
        width: 100%;
        align-self: center;

    }
    button:hover{
        background-color: hsl(270, 9%, 17%);
    }
    .mobile-nav{
        display: block;
    }
    .icon-close{
        display: none;
    }
    main{
        background-image: url(./images/bg-pattern-intro-right-mobile.svg);
        background-repeat: no-repeat;
        background-position:top right;
    }
    section{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
        margin: 0;
        background-image:url(./images/bg-pattern-intro-right-mobile.svg) ;
        background-repeat: no-repeat;
        background-position:left;
    }
    .left-side{
        text-align: center;
        padding:50px 20px;
        margin: 0;
    }
    .left-side h1{
        font-size: 2.2em;
    }
    .line{
        display:none;
    }
    .right-side{
        margin: 0;
    }
    .right-side .image-desktop{
        display: none;
    }
    .right-side .image-mobile{
       display: block;
       width: 100%;
       margin:0;
       padding: 0;
    }
    article{
        padding: 50px 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .line2{
        align-self: center;
    }
    article h2{
        font-size: 2em;
    }
    .details{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .avatar{
        margin-bottom:50px;
    }
    .findout{
        display: flex;
        flex-direction: column;
        background-image: url(./images/bg-pattern-how-we-work-mobile.svg);
        background-repeat: no-repeat;
        background-position: right;
    }
    .findout h3{
        margin-bottom: 25px;
    }
    footer{
        padding: 50px 20px;
        background-image: url(./images/bg-pattern-footer-mobile.svg);
        background-position: top left;
        background-repeat: no-repeat;
    }
    .top{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .top img{
        margin-bottom: 20px;
    }
    .bottom{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .contact{
        margin-bottom: 30px;
    }
}
