@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Rubik', sans-serif;
    background-color: hsl(226, 43%, 10%);
}
main{
}
.report{
    background-color: hsl(235, 46%, 20%);
    border-radius: 15px;
}
.report .avatar{
    background-color: hsl(246, 80%, 60%);
    padding:20px;
    border-radius: 15px;
}
.report .avatar img{
    width: 30%;
    border: 3px solid #fff;
    border-radius: 50%;
}
.report .avatar small{
    display: block;
    color: hsl(236, 100%, 87%);
    margin-top: 20px;
}
.report .avatar h1{
    color:#fff;
    font-size: 300;
    font-family: inherit;
    margin-bottom: 50px;
}
.report .days{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.report .days a{
    text-decoration: none;
    color:hsl(236, 100%, 87%); 
    margin-bottom: 20px;
}
.report .days a:hover{
    color: #fff;
}

.work{
    background-color: #fff;
}
p{
    font-size: 18px;
}
